body{
font-family: Arial;
background:#0f172a;
color:white;
text-align:center;
padding:30px;
}

section{
background:#1e293b;
margin:20px auto;
padding:20px;
border-radius:10px;
width:70%;
}

.search{
margin-bottom:20px;
}

input{
padding:10px;
font-size:16px;
}

button{
padding:10px 20px;
background:#22c55e;
border:none;
color:white;
cursor:pointer;
}

canvas{
max-width:900px;
margin:auto;
}
